# ============================
# Python .gitignore Template
# ============================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Poetry / Pipenv / Conda environments
.venv/
pip-wheel-metadata/
.conda/
conda-env/
*.egg-info/

# Distribution / packaging
build/
dist/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/
cover/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/
.spyproject/
.ropeproject/

# Mypy / pytype / pyre type checker caches
.mypy_cache/
.pytype/
.pyre/

# Other environments
.envrc
.env.local
.env.production
.env.staging

# Pyre type checker
.pyre/

# Profiling data
.prof

vizdoom_repo/
_vizdoom.ini
local_backup_doom_models
doom/src/_vizdoom.ini